@import "reset";
@import "imports/variables";

body,
html{
	padding: 									0;
	margin: 									0;
}

.secondary-color-ed{
	color: 										$secondaryColor;
}
.white-color-ed{
	color: 										$white;
}
.container-fluid-ed{
	margin-left: 								20%;
	margin-right: 								20%;
}
/*--- BEGIN HEADER ---*/
header{
	background-image: 							url('../img/header-background-eline-delasorte.jpg');
	background-size: 							cover;
	height: 									100vh;
	border-bottom: 								10px solid $secondaryColor;
	margin: 									0;

	h1,
	h2{
		color: 									$white;
		padding: 								15px 30px 15px 30px;
		text-transform: 						uppercase;
		width: 									100%;
		position: 								relative;
	}

	h1{
		font-family: 							$helvetica-B;
		font-size: 								$titleSite;
		background-color: 						$primaryColor;
		max-width: 								548px; /*488px of text + 30px padding-left + 30px padding-right*/
		top: 									200px;
	}

	h2{
		font-family: 							$helvetica-R;
		font-size: 								$subtitleSite;
		background-color: 						$secondaryColor;
		max-width: 								248px; /*188px of text + 30px padding-left + 30px padding-right*/
		top: 									225px;
	}
	nav{
		&.navbar-default-ed{
			background-color: 					transparent;
			border: 							none;
			border-radius: 						0px;
			.navbar-collapse-ed{
				height: 						0px;
				border-color: 					transparent;
				padding:						0px;
			}
			.navbar-toggle-ed{
				float: 							none;
				border-radius: 					0px;
				border: 						3px solid $white;
				&:hover,
				&:focus{
					background-color: 			$primaryColor;
					border-color: 				$primaryColor;		
				}
				span{
					&.icon-bar-ed{
						background-color: 		$white;
					}
				}
			}
			.navbar-nav-ed{
				> li{
					> a{
						font-family: 			$helvetica-B;
						font-size: 				$nav;
						color: 					$white;
						text-transform: 		uppercase;
						line-height: 			30px;
						padding: 				0 35px 0 0;
						&:hover,
						&:focus{
							color: 				$secondaryColor;
						}
						span{
							padding-right: 		25px;
						}
					}
				}
			}
		}
	}
}
#navbar-wrapper-ed{
	position: 									relative;
	top: 										400px;
}
.navbar-fixed-ed{
	top: 										0;
	z-index: 									100;
	position: 									fixed;
	width: 										100%;
	background-color:							$primaryColor;
	padding: 									35px 0 35px 0;
	box-shadow: 								0 2px 2px -2px $secondaryColor;
}
#hide-show-name-ed{
	font-family: 								$helvetica-B;
	text-transform: 							uppercase;
	p{
		display: 								none;
		font-size: 								32px;
	}
}
/*--- END HEADER ---*/

/*--- BEGIN CONTENT ---*/
.paragraph-ed{
	padding-bottom: 							20px;
}
.paragraph-last-ed{
	padding-bottom: 							40px;
}
.box-ed{
	padding: 									110px 0 110px 0;
	h3{
		&.h3-ed{
			font-family: 						$helvetica-B;
			font-size: 							$title;
			text-transform: 					uppercase;
			padding: 							0 0 30px 0;
			span{
				color: 							$secondaryColor;
			}
		}
		&.h3-blue-ed{
			color: 								$primaryColor;
		}
		&.h3-gray-ed{
			color: 								$primaryColor;
			padding: 							30px 0 20px 0;
		}
		&.h3-white-ed{
			color: 								$white;
		}
	}
	h4{
		&.h4-ed{
			font-family: 						$helvetica-B;
			font-size: 							$subtitle;
			text-transform: 					uppercase;
			padding: 							0 0 30px 0;
			color: 								$secondaryColor;
		}
	}
	.fingerprint-ed{
		background-image: 						url('../img/fingerprint.jpg');
		background-repeat: 						no-repeat;
		background-size: 						cover;
		height: 								246px;
	}
	p{
		font-family: 							$helvetica-C;
		font-size: 								$text;
		color: 									$gray;
		line-height: 							20px;
	}
	.box-gray-ed{
		background-color: 						$graylighter;
		padding: 								22px;
		margin: 								30px 0 0 0;
	}
	.box-right-ed{
		margin: 								30px 0 50px 0;
	}
	.box-right-ed{
		h3{
			border-top: 						solid 1px $gray;
			padding: 							40px 0 20px 0;
		}
	}
	.box-right-last-ed{
		border-bottom: 							solid 1px $gray;
		padding-bottom: 						40px;
		margin: 								0;
	}
	&.box-team-ed{
		padding: 								0 0 40px 0;
	}
	button{
		font-family: 							$helvetica-B;
		font-size: 								$button;
		background-color: 						$secondaryColor;
		color: 									$white;
		text-transform: 						uppercase;
		border: 								0px;
		padding: 								10px 35px 10px 35px;
		margin: 								25px 0 25px 0;
		&.close{
			color: 								$primaryColor;
			background-color: 					transparent;
			opacity: 							1;
		}
	}
	.modal-header-ed{
		border-bottom: 							0px;
	}
	.modal-footer-ed{
		border-top: 							0px;
	}
	&.box-blue-ed{
		background-color: 						$primaryColor;
		color: 									$white;
		.secondary-nav-ed{
			p{
				font-family: 					$helvetica-R;
				font-size: 						$secondaryNav;
				text-transform: 				uppercase;
				border: 						1px solid $secondaryColor;
				padding: 						10px 20px 10px 20px;
				margin: 						0 25px 30px 0;
				display: 						inline-block;
				a{
					color: 						$secondaryColor;
					&:hover,
					&:focus{
						text-decoration: 		none;
						color: 					$white;
					}
				}
				&.secondary-nav-white-ed{
					border-color: 				$white;
				}
			}
		}
		.no-padding-ed{
			padding: 							0px;
		}
		p{
			color: 								$white;
			&.more-less{
				padding-top: 					10px;
				a{
					color: 						$secondaryColor;
					text-decoration: 			underline;
					cursor: 					pointer;
					&:before{
						content: 				'Lees minder';
					}
					&.collapsed{
						&:before{
							content: 			'Lees meer';
						}
					}
				}
			}
		}	
	}
	&.box-no-padding-ed{
		padding: 								0;
	}
	.team-ed{
		.team-image-ed{
			background-image: 					url('../img/meester-eline-delasorte.jpg');
			background-position: 				cover;
			background-repeat: 					no-repeat;
			min-height: 						667px;
		}
		.team-information-ed{
			background-color: 					$graylighter;
			min-height: 						667px;
			padding-top: 						65px;
			&.no-padding-ed{
				padding-left: 					0px;
				padding-right: 					0px;
			}
			p{
				padding-bottom: 				30px;
			}
		}
	}
	.no-margin-ed{
		margin-left: 							0px;
		margin-right: 							0px;
	}
}
.quotes-ed{
	background-image: 							url('../img/quotes-burden-of-proof-legal-law-concept.jpg');
	background-size: 							cover;
	background-repeat: 							no-repeat;
	height: 									650px;
	color: 										$white;
	text-align: 								right;
	.quotes-text-ed{
		width: 									420px;
		float: 									right;
		position: 								relative;
		top: 									15%;
		right: 									10%;
		h5{
			&.h5-ed{
				font-size: 						$quotes-title;
				font-family: 					$helvetica-B;
				text-transform: 				uppercase;
				line-height: 					60px;
				padding-bottom: 				20px;
			}
		}
		p{
			font-size: 							$quotes-subtitle;
			font-family: 						$helvetica-C;
		}
	}
}
#contact{
	border-bottom: 								10px solid $primaryColor;
	.contact-information-wrapper-ed{
		padding-top: 							125px;
		.contact-information-ed{
			max-width: 							395px;
		}
	}
	.no-padding-right-ed{
		padding-right: 							0px;
	}
	.no-margin-right-ed{
		margin-right: 							0px;
	}
	.no-padding-left-mobile-ed{
		padding-left: 							0px;
	}
	.no-padding-left-ed{
		padding-left: 							0px;
	}
	.link-mailto-ed{
		color: 									$gray;
	}
	#map {
		height: 								600px;
	}
	.site-information-ed{
		color: 									$secondaryColor;
		text-decoration: 						underline;
		font-style: 							italic;
		cursor: 								pointer;
	}
	.site-information-body-ed{
		a{
			color: 								$secondaryColor;
			text-decoration: 					underline;
		}
	}
}
.container-fluid-contact-ed{
	margin-left: 								20%;
	&.container-fluid-no-offset-right-ed{
		margin-right: 							0%;
		padding-right: 							0%;
	}
}
/*--- END CONTENT ---*/

/*--- BEGIN FOOTER ---*/
footer{
	padding-bottom: 							45px;
	a{
		text-decoration: 						none;
		font-size: 								$subtitleFooter;
		&:hover{
			text-transform: 					none;
			text-decoration: 					none;
		}
	}
	p{
		font-family: 							$helvetica-B;
		font-size: 								$subtitleFooter;
		background-color: 						#1b4b73;
		color: 									#fff;
		border: 								0;
		padding: 								10px 20px 10px 20px;
		margin-top: 							25px;
		text-transform: 						uppercase;
	}
	.h3-gray-ed{
		font-family: 							$helvetica-B;
		font-size: 								$titleFooter;
		text-transform: 						uppercase;
		padding: 								0 0 30px 0;
		color: 									$gray;
		padding: 								30px 0 20px 0;
	}
}
/*--- END FOOTER ---*/

/*--- BEGIN MEDIA QUERIES ---*/
@media only screen and (max-width: 1800px){
	.container-fluid-ed,
	.container-fluid-contact-ed{
		margin-left: 5%;
		margin-right: 5%;
	}
}
@media screen and (max-width: 1339px) {
	.box-ed{
		.team-ed{
			.team-image-ed{
				background-position: 			-150px;
			}
		}
	}
}

@media screen and (max-width: 1299px) {
	.appointment{
		display: 								none;
	}
	.quotes-ed{
		.quotes-text-ed{
			right: 								8%;
		}
	}
}


@media only screen and (max-width: 1105px){
	.container-fluid-ed{
		&.container-fluid-navigation-ed{
			margin-left: 0%;
			margin-right: 0%;
		}
	}
}

@media screen and (max-width: 991px) {
	.box-ed{
		.team-ed{
			.team-information-ed{
				min-height: 					334px;
			}
			.team-image-ed{
				background-position: 			0px;
			}
		}
		.fingerprint-ed{
			margin-bottom: 						20px;
			background-position: 				50% 50%;
		}
	}
	.quotes-ed{
		.quotes-text-ed{
			right: 								2%;
		}
	}
	header{
		nav{
			&.navbar-default-ed{
				.navbar-collapse-ed{
					padding:					0px;
				}
				.navbar-nav-ed{
					> li{
						> a{
							padding:			0 20px 0 0;
							font-size: 			26px;
							span{
								display: 		none;
							}
						}
					}
				}
			}
		}
	}
	#hide-show-name-ed{
		p{
			font-size: 							20px;
			padding: 							5px 0 0 0;
		}
	}
	#map{
		margin-top: 							30px;
	}
	.container-fluid-ed {
		/* margin-left: 						0%;
		margin-right: 							0%; */
		&.container-fluid-no-offset-right-ed{
			margin-right: 						0%;
		}
	}
	.contact-information-wrapper-ed{
		margin-left: 							5%;
		margin-right: 							5%;
	}
	.container-fluid-contact-ed{
		margin-left: 							0%;
		margin-right: 							0%;
	}
}

@media screen and (max-width: 930px) {
	.quotes-ed{
		background-image: 						url('../img/quotes-burden-of-proof-legal-law-concept-tablet-mobile.jpg');
		height: 								auto;
		padding: 								50px 0 50px 0;
		.quotes-text-ed{
			width: 								90%;
			float: 								none;
			margin: 0 auto;
			text-align: 						center;
			right: 								0%;
			
		}
	}
}

@media screen and (max-width: 767px) {
	header{
		h1{
			top: 								60px;
		}
		h2{
			top: 								90px;
		}
		nav{
			&.navbar-ed{
				top: 							100px;
			}
			&.navbar-default-ed{
				padding-top: 					25px;
				.navbar-nav-ed{
					margin: 					0px;
					> li{
						> a{
							padding:			10px 0 10px 0;
						}
					}
				}
			}
		}
	}
	.box-ed{
		.team-ed{
			.team-image-ed{
				background-position: 			-200px;
			}
		}
	}
	#navbar-wrapper-ed{
		top: 									0px;
		/* padding: 								0 0 0 15px; */
	}
	.navbar-fixed-ed{
		display: 								none;
	}
}

/* @media screen and (max-width: 730px) {
	.quotes-ed{
		height: 								1200px;
	}
} */

@media screen and (max-width: 669px) {
	header{
		h1{
			font-size: 						$titleSite-tab;
			max-width: 						402px; /*342 of text + 30px padding-left + 30px padding-right*/
		}
		h2{
			font-size: 						$subtitleSite-tab;
			max-width: 						168px; /*108px of text + 30px padding-left + 30px padding-right*/
		}
	}
}

/* @media screen and (max-width: 589px) {
	.quotes-ed{
		height: 							1400px;
		background-position: 				-100px;
	}
} */

/* @media screen and (max-width: 507px) {
	.quotes-ed{
		height: 							1600px;
		background-position: 				-150px;
	}
} */

@media screen and (max-width: 499px) {
	header{
		h1{
			font-size: 						$titleSite-mob;
			max-width: 						279px; /*233px of text + 30px padding-left + 30px padding-right + 10px left*/
		}
		h2{
			font-size: 						$subtitleSite-mob;
			max-width: 						170px; /*100px of text + 30px padding-left + 30px padding-right + 10px left*/
		}
	}
	.box-ed{
		.team-ed{
			.team-image-ed{
				background-position: 		-300px;
			}
		}
	}
	.quotes-ed{
		.quotes-text-ed{
			h5{
				&.h5-ed{
					font-size: 				30px;
					line-height: 			40px;
				}
			}
			p{
					font-size: 				15px;
			}
		}
	}
}

/* @media screen and (max-width: 437px) {
	.quotes-ed{
		height: 							1800px;
		background-position: 				-200px;
	}
} */

@media screen and (max-width: 399px) {
	.box-white-ed{
		h3{
			&.h3-gray-ed{
				font-size: 					$title-mob;
			}
		}
	}
	footer{
		p{
			font-size: 						$subtitleFooter-mob;
		}
	}
}
/* @media screen and (max-width: 382px) {
	.quotes-ed{
		height: 							2000px;
		background-position: 				-250px;
	}
} */
/*--- END MEDIA QUERIES ---*/